<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Gearlance.com, <%= @user.first_name %>!</h1>
    <p>
      You are ready to start sharing and trying gear from people just like you!
    </p>
    <p>
      You can start by logging in at <%= @url %> with your email address, <%= @user.email %>.
    </p>
    <h3>Thanks for joining and have a great day!</h3>
  </body>
</html>