
  <div class="gallery-home center">
    <div>
      <ul class="thumbnails grid">
        <li>
          <a href="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/3099/3099128_sa.jpg;canvasHeight=166;canvasWidth=210" class="thumbnail">
            <img src="assets/homepage/flower-yellow.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <div class="wrapper">
              <div class="card">
                <div class="face front">
                  <img src="assets/homepage/fish.jpg">
                </div>
                <div class="face back">

                  <ul>
                    <li><img src="http://images17.newegg.com/is/image/newegg/30-995-995-TS?$S300W$" alt=""></li>
                    <li>Taken with<br><em>Nikon XB Lens</em><br> $10/day<button class="btn btn-small pull-right">Rent</button></li>

                  </ul>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="assets/homepage/dock.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail">
            <img src="assets/homepage/sandwich.jpg" alt="">
          </a>
        </li>
      </ul>
    </div><!-- row -->
    <div>
      <ul class="thumbnails grid">
        <li>
          <a href="#" class="thumbnail row2">
            <img src="assets/homepage/ladybug.jpg" alt="">
          </a>
        </li>
        <li class="headline center"><h1 class="withsubhead">Rent gear today.</h1></br><h4>Easily try out cameras, lenses, lights and more </br>from people just like you.</h4></br><button class="btn btn-success btn-large">Browse Gear</button>
        </li>
        <li class="row2">
          <a href="#" class="thumbnail row2">
            <img src="assets/homepage/pencils.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="thumbnails grid">
        <li>
          <a href="#" class="thumbnail">
            <img src="assets/homepage/water.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#" class="thumbnail" style="width: 480px">
            <img src="assets/homepage/photographer_long.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="http://google.com" class="thumbnail">
            <div class="wrapper">
              <div class="card">
                <div class="face front">
                  <img src="assets/homepage/water.jpg">
                </div>
                <div class="face back">

                  <ul>
                    <li><img src="http://images17.newegg.com/is/image/newegg/30-995-995-TS?$S300W$" alt=""></li>
                    <li><small>Taken with</small><br><em>Nikon XB Lens</em><br> $10/day<button class="btn btn-small pull-right">Rent</button></li>

                  </ul>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div><!-- row -->
  </div><!-- span -->
  <!-- <div class="row divide"> -->
   <!--  <div class="row">
      <div class="center span7">
        <div class="row top-margin">
          <div class="span3 center">
            <img src="http://www.thelashop.com/images/P/01UMS002-VL-303UL-B-p01.jpg" height="400px" width="300px">
          </div>
      </div>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="span3 center">
        <img src="http://www.thelashop.com/images/P/01UMS002-VL-303UL-B-p01.jpg" height="400px" width="300px">
      </div>
      <div class="span6 center">
        <div class="text-center">
          <h2>Not using your precious gear?</h2>
          <h4>Put it to work. Make money lending your gear to others. Bacon ipsum dolor sit amet pancetta t-bone kielbasa, brisket sirloin spare ribs jerky ribeye pig short ribs shank. Ham hock ground round pork belly pork chop salami pastrami tri-tip boudin rump capicola biltong hamburger beef meatball.</h4>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
  <div class="row">
    <div class="span11 center">
      <div id="myCarousel" class="carousel slide">
        <div class="row">
        <!-- <div class="span8 center show"> -->
          <ol class="carousel-indicators span9 center">
            <li><a href="#" data-target="#myCarousel" data-slide-to="0">Not using your gear?</a></li>
            <li><a href="#" data-target="#myCarousel" data-slide-to="1">Interested in new gear?</a></li>
            <li><a href="#" data-target="#myCarousel" data-slide-to="2">Not sure which to use?</a></li>
          </ol>
        <!-- </div> -->
        </div>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="span3 center">
                <img src="http://www.thelashop.com/images/P/01UMS002-VL-303UL-B-p01.jpg" height="400px" width="300px">
              </div>
              <div class="span7 center text-center">
                <h2>Not using your precious gear?</h2>
                <h4>Put it to work. Make money lending your gear to others. Bacon ipsum dolor sit amet pancetta t-bone kielbasa, brisket sirloin spare ribs jerky ribeye pig short ribs shank. Ham hock ground round pork belly pork chop salami pastrami tri-tip boudin rump capicola biltong hamburger beef meatball.</h4>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="span3 center">
                <img src="http://www.thelashop.com/images/P/01UMS002-VL-303UL-B-p01.jpg" height="400px" width="300px">
              </div>
              <div class="span6 center text-center">
                <h2>Interested in new gear?</h2>
                <h4>Try it out before making any long term purchase. Make money lending your gear to others. Bacon ipsum dolor sit amet pancetta t-bone kielbasa, brisket sirloin spare ribs jerky ribeye pig short ribs shank. Ham hock ground round pork belly pork chop salami pastrami tri-tip boudin rump capicola biltong hamburger beef meatball.</h4>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="span3 center">
                <img src="http://www.thelashop.com/images/P/01UMS002-VL-303UL-B-p01.jpg" height="400px" width="300px">
              </div>
              <div class="span6 center text-center">
                <h2>Not sure which to use?</h2>
                <h4>Put it to work. Make money lending your gear to others. Bacon ipsum dolor sit amet pancetta t-bone kielbasa, brisket sirloin spare ribs jerky ribeye pig short ribs shank. Ham hock ground round pork belly pork chop salami pastrami tri-tip boudin rump capicola biltong hamburger beef meatball.</h4>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="span3 center">
                <img src="http://www.thelashop.com/images/P/01UMS002-VL-303UL-B-p01.jpg" height="400px" width="300px">
              </div>
              <div class="span6 center text-center">
                <h2>There's a lot to choose from</h2>
                <h4>Put it to work. Make money lending your gear to others. Bacon ipsum dolor sit amet pancetta t-bone kielbasa, brisket sirloin spare ribs jerky ribeye pig short ribs shank. Ham hock ground round pork belly pork chop salami pastrami tri-tip boudin rump capicola biltong hamburger beef meatball.</h4>
              </div>
            </div>
          </div>

        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>


<!-- <div class="row-fluid"> -->  <!-- Slider row -->
	<!-- <div class="bxslider">
	  <% @items.sample(15).each do |item| %>

	  <a href="<%= item_url(item.id) %>">
		  <div class="slide crop">
			  <%= image_tag item.photo_url, width: 300,title: "#{item.name} | $#{item.daily_price} per day" %>
		  </div>
	  </a>
	  <% end %>
	</div>
</div>
 -->
<div class="row-fluid">
	<div class="span6 well">  <!-- Left content module -->
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="span6 well">  <!-- Right content module -->
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>

<!-- Javascript for slider -->
<script type="text/javascript">
  $(document).ready(function(){
  $('.bxslider').bxSlider({
  	auto: true,
  	captions: true,
 	slideWidth: 300,
    minSlides: 1,
    maxSlides: 3,
    slideMargin: 10
  });
});
</script>
