<h1>Featured Home Page</h1>

<ul>
<% @items.shuffle.each do |item| %>
  <li><%= image_tag item.photo_url, width: 200 %></li>
  <li><%= item.name %></li>
  <li>$ <%= item.weekly_price %></li>
  <li><%= link_to "Reserve Now", item_url(item.id) %></li><br>
<% end %>
</ul>