<%= link_to raw("&laquo; Back"), items_url, class: "btn" %><br>

<br><h1>New Item</h1><br>

<% if @item.errors.present? %>
  <% @item.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= render 'form' %>
