nav .gravatar {
  float:right;
}

.add_category {
  font-size:12px;
  color:#08c;
  font-style:italic;
  cursor:pointer;
}

.category_slug {
  	display:none;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 13px;
}

.withsubhead {
	line-height: .3;
}

.item-list {
	border: 1px solid #ecf0f1;
	border-radius: 5px;
	list-style: none;
	margin-bottom: 10px;
	padding: 5px 20px;
}

.brand {
	background: url("gl_green_125.png") no-repeat;
	margin-left: 10px;
	margin-top: 10px;
	padding: 0;
	width: 125px;
	height: 31px;
}

.navbar .brand {
    padding: 0;
    margin: 10px 0 0 10px;
}

.browse h3 {
	margin: 0;
	line-height: 28px;
}

.browse p {
	margin: 0;
}

ul.browse {
	margin: 0;
}

#footer .links a {
	margin-right: 20px;
}

div .row.browse {
	margin-left: 0;
}

.browse-image {
	height: 140px;
}

.browse-buttons {
	margin: 10px 0;
}


.crop {
	height: 300px;
	overflow: hidden;
	width: 300px;
}
.crop img {
	width: 300px;
}

/* Hiding number spinners from type number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Entrance Modal */
#modal_overlay {
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.7);
  z-index:9999;
  display:none;
}

#modal {
  position:absolute;
  width:100%;
  height:100%;
  z-index:9999;
  display:none;
}

#m_message {
  width:450px;
  height:300px;
  background:#fff;
  margin:8% auto 0 auto;
  padding:20px;
  border:1px solid #363636;

  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}