.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.text-center {
  float: none;
  margin-bottom: 1em;
}

.show {
  background: yellow;
}

.control-label {
float: left;
width: 120px;
padding-top: 5px;
margin-right: 20px;
text-align: right;
}

.controls {
margin-left: 150px;
}

/*Upload User Profile controls*/

.span4.center p {
  margin-left: 85px;
}

.upload {
  margin: 30px 60px;
  width: 50%;
}

input[type=file] {
-webkit-appearance: none;
-moz-appearance: none;
position: relative;
-webkit-box-sizing: border-box;
-moz-opacity: 0 ;
  filter:alpha(opacity: 0);
  /*opacity: 0;*/
  z-index: 2;
}

input[type=file]::-webkit-file-upload-button {
width: 0;
padding: 0;
margin: 0;
-webkit-appearance: none;
border: none;
}
/* "x::-webkit-file-upload-button" forces the rules to only apply to browsers that support this pseudo-element */
x::-webkit-file-upload-button, input[type=file]:after {
content: ' Upload your photo ';
display: inline-block;
left: 100%;
margin-left:-310px;
position: relative;
-webkit-appearance: button;
padding: 5px 8px;
}

div.fileinputs {
  position: relative;
  left: 19%;
  top: 10px;
}

div.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

div.fakefile input {
  display: none;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}

